<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolucion</title>
</head>
<body>
    <% if (state == 'Actualizado'){%>
        <h1>Equipo devuelto correctamente!</h1>
    <%}else if (state == 'No actualizado'){%>
        <h1>Ocurrió un error vuelve a intentarlo</h1>
    <%}else{%>
        <h1>Ocurrió un error vuelve a intentarlo</h1>
    <%}%>

    <form action="/" method="get">
        <button type="submit">Regresar</button>
    </form>
</body>
</html>