<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div>
        <h1>Laboratorio de redes industriales</h1>
        <h2>Ingrese la contraseña</h2>
    </div>
    <div>
        <form action="/logIn" method="post">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>