<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <div id="Title">
        <h1>LABORATORIO DE REDES INDUSTRIALES</h1>
    </div>
    <div id="SubTitle1">
        <h2>Plataforma de prestamo de equipos</h2>
    </div>
    <div>
        <h3>¿Que desea realizar?</h3>
        <form action="/" method="post">
            <input list="option" name="option">
            <datalist id="option">
                <option value="Prestamo">
                <option value="Devolucion">
                <option value="Detalle">
            </datalist>
            <button type="submit">OK</button>
        </form>
    </div>
</body>
</html>